
section{
    width: 300px;

    
    overflow: auto;
    padding-bottom: 180px;
}


footer{
    position: relative;
    clear: both;

    margin-top: -180px;
    width: 100%;
    background-color: coral !important;
}