/*General code ***** ***** ***** ***** *****  *****  */
@font-face {
    font-family: 'aaron'; 
    src: url(../fonts/aaron.woff2);
    font-style: normal; 
    font-weight: 100;
}
*, body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'aaron';
}

/*Header  ***** ***** ***** ***** *****  *****  */
header h1 {
    text-align: center;
}
.main-menu {
    display: flex;
justify-content: space-around;
flex-direction: row;
margin: 30px;
}


.logo img {
display: block;
margin: 0 auto;
}

.main-menu  li {
    list-style: none;
}
.main-menu  li a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
/*container  ***** ***** ***** ***** *****  *****  */
.container {
    width: 80%;
    background-color: lightcoral;
margin: 0 auto;
    
}
/*aside code  ***** ***** ***** ***** *****  *****  */

aside{
    position: relative;

}



.fill {
 
    display: flex;
    /* flex-direction: row;  not used */
    justify-content: center;
    margin-bottom: 20px;
}

.fill img , .fill2  img {
    max-width: 100%;
  height: auto;
}

.fill2{
    display: none;
}





  


@media screen and (max-width: 950px){
    .fill  {
display: block;
margin: 0 auto;
  width: 100%;
    }

}
/*main code  ***** ***** ***** ***** *****  *****  */
main {
   
    display: flex;
    flex-direction: row; 

}
.subcontainer {
    display: flex;
    flex-direction: row; 
    overflow: auto; 
    overflow-y: hidden;
}
.disp-0 {
    max-width: 100%;
    height: auto;

}
.disp-0 button {
background-color: #f4511e; 
border: none; 
color: white; 
padding: 10px 20px;
text-align: center;
font-size: 12px;
margin: 4px 2px;
opacity: 0.8;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.disp-0 button:hover {opacity: 1}

.disp-0,.disp-1,.disp-2,.disp-3, .disp-4,  .disp-5, .disp-6 {
    margin: 5px;
}

main img {
   
    max-width: 250px;
    height: auto;
}
/*Category  ***** ***** ***** ***** *****  *****  */
.category{
    position: relative;
    height: auto;
 display: flex;
 flex-direction: row; 
 justify-content: center;
 flex-flow: wrap;
}


.category img {
    width: 250px; 
    height: 150px; 
    margin: 10px;
    
}
.cat1, .cat2, .cat3, .cat4 {
    position: relative;
}
.c1,.c2,.c3,.c4 {
    position: absolute;
 width: 100%;
 text-align: center;
    top: 10%;

}

@media screen and (max-width: 1200px){
    .cat1, .cat2, .cat3, .cat4 {
        width: 40%;
        margin: 5px;
    }


}

@media screen and (max-width: 600px){
    .cat1, .cat2, .cat3, .cat4 {
        width: 90%;
    }}

    @media screen and (max-width: 320px){
        .cat1, .cat2, .cat3, .cat4 {
            width: 90%;
            margin: 0;
        }

.category img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

}
  
}

@media screen and (max-width: 414px){
    .category img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    
    }
    .cat1, .cat2, .cat3, .cat4 {

        width: 90%;
        margin: 0 auto;
    }


}








/*Footer code  ***** ***** ***** ***** *****  *****  */
footer{

    position: relative; 
    bottom: 0; 
    width:100%; 
    font-family: Raleway;  
    

} 

footer  img { 
width: 20px !important;
}

