*,body { 
    margin : 0; 
    padding: 0; 
    box-sizing: border-box;
background-color: black; 
display: grid;
color: white;

}

.main-header {
    color: orange;
    text-align: center;
    font-size: 3rem;
     
}


.tabs{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;  
    
}

.tabs li {
    list-style: none;
}
.tabs li a {
    text-decoration: none;
}

